:root {
}

.character {
    width: 375px;
    height: auto;
    position: absolute;
    bottom: 2%;
    top: auto;
}

.character__label {
    width: auto;
    height: 100px;
}

.character__image {
}

.title {
    font-size: 70px;
    -unity-font-style: bold;
    -unity-text-align: upper-center;
    position: absolute;
    left: 23%;
    top: 5%;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
}

.selector {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 24%;
    left: auto;
    right: 0%;
    transition-duration: 0.5s;
}

.leftCharacterSelected {
    position: absolute;
    left: 29%;
    transition-duration: 0.3s;
    transition-property: all;
}

.rightCharacterSelected {
    left: 62%;
    transition-duration: 0.3s;
    transition-property: all;
}
